.backgroundPrimary {
    background: url('./images/heroImage.jpg') no-repeat fixed;
    background-size: cover;
    background-position: 'center center'; 
    background-repeat: no-repeat;
    min-height: 84vh;
    padding-bottom: 1px;
}

.cardOpacity {
    opacity: 80%;
}

.dashboardCard {
    height: 100px;
    color: #000;
    margin-top: 50px;
}

.dashboardCard div {
    overflow: hidden;
}

.verticalAlign {
    vertical-align: middle;
}

.deleteButton {
    color: #ee6e73;
    background: none; 
    border: none;
}

.deleteButton:focus {
    color: #ee6e73;
    background: none; 
    border: none;
}

.deleteButton:hover {
    color: #000;
    background: none; 
    border: none;
}

/* @media (max-width: 500px) {
    .dashboardCard {
        width: 500px;
    }
} */


